.footer{
    padding: 50px 0;
  ul{
      list-style: none;
  }
  .logo{
      width: 150px;
      margin: 0 auto;
  }
  .footer-navigation{
      display: flex;
      justify-content: center;
      li{
          margin-right: 40px;
          &:last-child{
              margin-right: 0;
          }
          a{
            font-family: 'Montserrat SemiBold';
            position: relative;
                &:after{
                    content: '';
                    width: 0%;
                    height: 2px;
                    display: inline-block;
                    background: #000;
                    position: absolute;
                    bottom: -4px;
                    left: 0;
                    transition: 0.4s width ease;
                }
                &:hover{
                    &:after{
                        width: 100%;
                    }
                }
          }
      }
  }

  .social-media{
    display: flex;
    justify-content: center;
    li{
        margin-right: 40px;
        &:last-child{
            margin-right: 0;
        }
        a{
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            -webkit-animation-iteration-count: infinite;
            img{
                width: 25px;
            }
            &:hover{
                animation-name: bounce;
                -moz-animation-name: bounce;
            }
        }
    }
  }
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-10px);
		-ms-transform:     translateY(-10px);
		transform:         translateY(-10px)
	}
	60% {
		-webkit-transform: translateY(-5px);
		-ms-transform:     translateY(-5px);
		transform:         translateY(-5px);
	}
}
