@font-face {
    font-family: 'Montserrat Light';
    src: url('../font/Montserrat-Light.woff2') format('woff2'),
        url('../font/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat SemiBold';
    src: url('../font/Montserrat-SemiBold.woff2') format('woff2'),
        url('../font/Montserrat-SemiBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('../font/Montserrat-Bold.woff2') format('woff2'),
        url('../font/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Regular';
    src: url('../font/Montserrat-Regular.woff2') format('woff2'),
        url('../font/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Thin';
    src: url('../font/ProximaNovaSExCn-Thin.woff2') format('woff2'),
        url('../font/ProximaNovaSExCn-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

$color-black: #000;
$color-white: #fff;
$color-gray: #C0C0C0;

*,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat Regular';
    font-size: 14px;
    color: $color-black;
}

img {
    width: 100%;
}

a {
    display: block;
    color: $color-black;
    text-decoration: none;
}

p {
    line-height: 28px;
    margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-family: 'Montserrat Bold';
}

h2,
.section_title {
    padding-bottom: 30px;
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

.color-gray {
    color: $color-gray;
    font-family: 'Montserrat SemiBold';
}

.section_padding {
    padding: 80px 0;
}

.section_title {
    span {
        font-family: 'Montserrat Light';
        font-size: 12px;
        vertical-align: super;
        margin-right: 8px;
    }
}

.text-center {
    text-align: center;
}

.align-items-center {
    align-items: center;
}

.mobile-view {
    display: none;
}

// Main banner slider
.main-banner-slider {
    .slick-slide {
        &:focus {
            outline: none;
        }
    }

    .slick-dots {
        bottom: -40px;

        li {
            button {
                &:before {
                    content: '';
                    border: 2px solid $color-black;
                    border-radius: 50%;
                    width: 8px;
                    height: 8px;
                    opacity: 1;
                }
            }

            &.slick-active {
                button {
                    &:before {
                        background: $color-black;
                    }
                }
            }
        }
    }
}

// The creators
.content {
    margin-top: 40px;
}

.content-title {
    margin-bottom: 30px;

    a,
    h3 {
        padding-bottom: 10px;
    }
}

// Editorials
.editorials-block {
    .editorials-content {
        margin-bottom: 100px;

        a {
            width: 70%;
            margin: 0 auto;

            .editorials-img {
                margin-bottom: 30px;
            }

            .editorials-title {
                font-family: 'Montserrat Bold';
                display: inline-block;
                padding-bottom: 10px;
                position: relative;

                &:after {
                    content: '';
                    width: 0%;
                    height: 2px;
                    display: inline-block;
                    background: #000;
                    position: absolute;
                    bottom: 7px;
                    left: 0;
                    transition: 0.4s width ease;
                }
            }

            .date {
                display: block;
            }

            &:hover {
                .editorials-title {
                    &:after {
                        width: 100%;
                    }
                }
            }
        }
    }

}

// Features
.features {
    background: $color-black;
    color: $color-white;
}

.features-video {
    position: relative;
    margin: 80px 0;

    .play-btn {
        display: block;
        position: absolute;
        top: 25%;
        left: 0;
        right: 0;
        width: 150px;
        margin: 0 auto;
        cursor: pointer;
        box-shadow: 5px 5px 39px 13px rgba(80, 17, 17, 0.24);
        -webkit-box-shadow: 5px 5px 39px 13px rgba(80, 17, 17, 0.24);
        -moz-box-shadow: 5px 5px 39px 13px rgba(80, 17, 17, 0.24);
    }
}

// LYF Page

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed,
.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.lyf-video-section {}

.ytp-chrome-top,
.ytp-chrome-bottom {
    display: none;
}

.lyf-bottom-section {
    background: url(../img/lyf-bg.jpg) no-repeat bottom center;
    background-size: cover;
    font-family: 'Proxima Nova Thin';
    color: $color-white;
    &.footer{
        padding:0;
    }
    .row{
        min-height: 100vh;
    }

    h1 {
        font-size: 4rem;
        letter-spacing: 0.2em;
        margin-bottom: 40px;

        span {
            display: block;
        }
    }

    .credit-text {
        li {
            display: flex;
            justify-content: center;

            span {
                font-size: 20px;
                margin-right: 8px;
            }

            p {
                font-size: 35px;
                margin-right: 15px;
                margin-bottom: 15px;
            }
        }
    }

    .social-media {
        margin-top: 7%;
        margin-bottom: 2%;
    }
}