@media screen and (max-width: 650px) {

    .lyf{
        .header{
            position: relative;
            background: #000;
        }
    }
    .mobile-view{
        display: block;
    }
    .desktop-view{
        display: none !important;
    }
    .header{
        padding: 0;
        position: relative;
        .main_navigation{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
            height: 100%;
            li{
                margin-right: 0;
                margin-bottom: 40px;
                a{
                    color: #fff;
                    font-size: 30px;
                    position: relative;
                &:after{
                    content: '';
                    width: 0%;
                    height: 2px;
                    display: inline-block;
                    background: #fff;
                    position: absolute;
                    bottom: -4px;
                    left: 0;
                    transition: 0.4s width ease;
                }
                &:hover{
                    &:after{
                        width: 100%;
                    }
                }
                }
            }
        }
        .logo{
            text-align: center;
        }
    }
    .logo img{
        width: 120px;
    }
    .mobile-navigation {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #000;
        width: 100%;
        height: 100%;
        visibility: hidden;
        opacity: 0;
        z-index: 9;
        transition: 1000ms all ease;
        &.active{
            visibility: visible;
            opacity: 1;
        }
    }
    .hamburger-menu{
        position: absolute;
        right: 25px;
        top: -30px;
        z-index: 10;
    }

    .editorials-block .editorials-content a .editorials-img{
        width: 100%;
        margin-bottom: 20px;
    }

    .editorials-block .editorials-content a{
        width: 90%;
    }
    
    .editorials-block .editorials-content {
        margin-bottom: 50px;
    }
    .features-video .play-btn{
        width: 100px;
    }

    .features-video{
        margin: 40px 0;
    }

    .footer{
        padding: 20px 0;
        .col-3{
            flex: 0 0 33%;
        }
        .col-5{
            flex: 0 0 55%;
        }
        .col-4{
            flex: 0 0 35%;
        }
        .logo{
            width: 80%;
        }
        .footer-navigation{
            flex-direction: column;
            align-items: center;
            li{
                margin-right: 0;
                margin-bottom: 15px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        .social-media{
            li{
                margin-right: 20px;
            }
        }
    }
    .lyf-video-section{
        height: auto;
    }

    .lyf-bottom-section{
        height: auto;
        h1{
            font-size: 30px; 
        }
        .credit-text {
            li{
                display: block;
                p{
                    font-size: 22px;
                }
                span{
                    font-size: 16px;
                }
            }
        }
    }
}