/* Custom Scroll Bar with CSS */
/*
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
::-webkit-scrollbar-track {
	background: kt-get($x-base-colors, gray, 300);
}
::-webkit-scrollbar-thumb {
	background: kt-get($x-base-colors, gray, 500);
}
::-webkit-scrollbar-thumb:hover {
	background: kt-get($x-base-colors, gray, 700);
}
*/
@import "vendor";
@import "bootstrap-grid";
@import "config";
@import "header";
@import "footer";
@import "components";
@import "pages";
@import "responsive";

.body-cs{overflow: hidden !important;}
.coming-soon{
	background: #eaeaea;
	width: 100%;
	.row{
		position: relative;
		min-height: 100vh;
	}
	.logo{
		position: absolute;
		width: 150px;
		top:20px;
		right:20px;
	}
	h1{
		font-family: 'Montserrat Regular';
		font-size:28px;
		b{
			font-family: 'Montserrat Bold';
			font-weight:700;
		}
	}
}

@media screen and (max-width: 650px) {
	.coming-soon{
		.col-md{
			text-align: center;
			img{
				max-width: 250px;
				display: block;
				margin: 0 auto;
				margin-top:40px;
			}
			h1{
				margin-top:-60px;
			}
		}
	}
}